body
{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/456.jpg);
	background-size: cover;
	background-position: all;
	color: #fff !important; 
}
.services
{
	margin: 90px auto;
	text-align: center;
}
h1
{
	font-family: sans-serif;
	letter-spacing: 1px;
}
h1:after
{
	content: '';
	background: white;
	display: block;
	width: 150px;
	height: 3px;
	margin: 10px auto;
}
.icon
{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
	border: 1px solid white;
	border-radius: 50%;

}
.col-md-3:hover
{
	box-shadow: 5px 7px 9px -3px rgba(255,255,255,0.5);
	cursor: pointer;
}
